<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <div class="container"></div>
    <h1>Edit Hike</h1>
    <form action="/hikes/<%=index%>?_method=put" method="post">
        Name: <input type="text" name="name" placeholder="Name of Hike"> <br/>
        Distance: <input type="text" name="distance" placeholder="miles.."><br/>
        Comments: <input type="text" name="comments" placeholder="Comments.."><br/>
        IMG URL: <input type="text" name="img" placeholder="Enter Image URL Here"><br/>
        <input type="checkbox" name="completed" <%= hike.completed && "checked" %>/><br/>
        <input type="submit" value="Update!" />
</form>   
</div>
</body>
</html>